<h1>SPECIES</h1>

<ul>
  <% @species_all.each do |species| %>
    <li>
      <a href="/species/<%= species.id %>"><%= species.name %></a>
      <a href="/species/<%= species.id %>/edit">edit</a>
      <a href="/species/<%= species.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow>">Delete</a>
      <a href="/species/<%= species.id %>/sightings/new">New Sighting</a>
    </li>
  <% end %>
</ul>
<br>

<form action="/sightings" method="get">
  <label for="sightings_start_date">Start date</label>
  <input id="sightings_start_date" name="sightings[start_date]" type="datetime-local">
  <label for="sightings_end_date">End date</label>
  <input id="sightings_end_date" name="sightings[end_date]" type="datetime-local">
  <button>Run report</button>
</form>

<br>

<h4>New Species</h4>

<% if @species.errors.any? %>
  <h5>Please fix these errors:</h5>
  <ul>
    <% @species.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/species" method="post">
  <label for="species_name">Name</label>
  <input id="species_name" name="name" type="text">
  <button>Create Species</button>
</form>
